@import url('https: //fonts.googleapis.com/css2?family=Raleway: wght@300;400;500;600;700&display=swap');


.aboutus{
margin: 0px;
padding: 0px;
  background-image: url("https://gttp.imgix.net/306651/x/0/aerial-view-of-cape-bolinao-lighthouse.jpg?auto=format%2Ccompress&crop=faces%2Cedges%2Ccenter&bg=%23fff&fit=crop&q=35&h=604&dpr=1");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

input, button, textarea{
	border: none;
	outline: none;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	left: 50%;
	top: 50%;
	width:  100%;
	z-index: 1;
}

nav ul{
	display: flex;
                    margin-left: 750px;
}

nav ul li a{
	height: 40px;
	line-height: 43px;
	margin: 3px;
	padding: 0 22px;
	display: flex;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	border-radius: 3px;
	transition: 0.6s ease-in-out;
	color: white;
}

nav ul li a:hover{
	background-color: rgba(211, 211, 211, 0.7);
	color: black;
	box-shadow: 5px 10px 30px rgba(255, 255, 255, 0.8);

}

.main{
                    margin-left: 0%;
}


.sign img{
  width: 150px;
  position: absolute;
  top: 15px;
  left: 16px;
}

.bg-image {
  padding:0px;
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.first{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: Times new roman;
  font-size: 30px;
  background-size: cover;
  background-color: black;
  padding: 0px 311px 0px 309px;
  width: 900px;
}

.web{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: Times new roman;
  font-size: 23px;
  background-color: black;
  padding: 0px 5px 0px 0px;
  width: 1515px;
}

.au{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: Times new roman;
  font-size: 50px;
  background-color: black;
  padding: 0px 5px 0px 0px;
  width: 1515px;
}

.column {
  margin-top: 800px;
  margin-left: 50px;
  float: left;
  width: 20%;
  padding: 0 5px;
}

.row {margin: 0 2px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.readhistory{
  position: absolute;
  top: 230%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: Times new roman;
  font-size: 45px;
  background-color: black;
  padding: 0px 5px 0px 0px;
  width: 1515px;
}

.button{
  background-color: white;
  border: 5px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  margin-bottom: 20px;
  cursor: pointer;
}

.quote{
  position: absolute;
  top: 270%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: Times new roman;
  font-size: 28px;
  background-color: black;
  padding: 0px 5px 0px 0px;
  width: 1515px;
}

.footer{
  position: absolute;
  top: 320%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: Times new roman;
  font-size: 15px;
  background-color: black;
  padding: 0px 5px 0px 0px;
  width: 1515px;
}

.footer a{
  color: white;
}


.history{
background-image: url("https://scontent.fmnl4-1.fna.fbcdn.net/v/t1.15752-9/281500763_824877478486995_3172564069218375846_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeEDAXDRZCoAxRCXiTPaYux7_Ghuz43pC_38aG7PjekL_YQJT5a4VfIT9_5oe8uS6bsY1x04BUy6w2aJFvMSLIjL&_nc_ohc=fDJ34y37c0oAX-6kRcG&_nc_ht=scontent.fmnl4-1.fna&oh=03_AVLgs9nEx8X4vL4WazgLWAq3Suq6y4MXzhxGeZIOvRpkRw&oe=62AFD33C");
margin: 10px;
padding: 10px;
}

.coverpic img{
width: 350px;
margin-top: 150px;
margin-left: 150px;
}

.text0{
font-family:Century Schoolbook;
font-size: 30px;
color: white;
margin-left: 500px;
margin-top: -650px;
}

.text1 p{
text-align:left;
color:white;
margin-left:510px;
margin-top: 5;
font-size:25px;
font-family:Times New Roman;
}

.text2 p{
text-align:left;
color:white;
margin-left:510px;
font-size:25px;
font-family:Times New Roman;
}


.text3 h2{
color:white;
margin-top:500px;
margin-left: 250px;
font-size:50px;
font-family:Century Schoolbook;
}

.preperiod{
  position: relative;
  width: 40%;
  margin-left: 50px;
}

.image {
  display: block;
  width: 80%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 80%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(101, 67, 33, 0.8);
}

.preperiod:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.period1 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:550px;
margin-top:-230px;
}

.tperiod1{
color:white;
font-size:25px;
text-align:left;
margin-left:550px;
margin-top:30px;
text-align:justify;
}

.onefiveseventwo{
  position: relative;
  position: right;
  width: 45%;
  margin-left: 800px;
  margin-top: 150px;
}

.onefiveseventwo image {
  display: block;
  width: 80%;
  height: auto;
}

.onefiveseventwo:hover .overlay {
  opacity: 1;
}

.period2 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:70px;
margin-top:-210px;
}

.tperiod2{
color:white;
font-size:25px;
text-align: left;
margin-left:60px;
margin-top:50px;
text-align:justify;
}

.onefivesevenfourfive{
  position: relative;
  position: right;
  width: 50%;
  margin-left: 50px;
 margin-top: 120px;
}

.onefivesevenfourfive image {
  display: block;
  width: 80%;
  height: auto;
}

.onefivesevenfourfive:hover .overlay {
  opacity: 1;
}

.period3 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:680px;
margin-top:-240px;
}

.tperiod3{
color:white;
font-size:25px;
text-align:left;
margin-left:680px;
margin-top:25px;
text-align:justify;
}

.onefiveeightzero{
  position: relative;
  position: right;
  width: 25%;
  margin-left: 900px;
  margin-top: 100px;
}

.onefiveeightzero image {
  display: block;
  width: 80%;
  height: auto;
}

.onefiveeightzero:hover .overlay {
  opacity: 1;
}

.period4 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:70px;
margin-top:-250px;
}

.tperiod4{
color:white;
font-size:25px;
text-align: left;
margin-left:60px;
margin-top:50px;
text-align:justify;
}

.onesixoneone{
  position: relative;
  position: right;
  width: 25%;
  margin-left: 250px;
 margin-top: 150px;
}

.onesixoneone image {
  display: block;
  width: 80%;
  height: auto;
}

.onesixoneone:hover .overlay {
  opacity: 1;
}

.period5 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:600px;
margin-top:-310px;
}

.tperiod5{
color:white;
font-size:25px;
text-align:left;
margin-left:600px;
margin-top:50px;
text-align:justify;
}

.onesixsixzero{
  position: relative;
  position: right;
  width: 50%;
  margin-left: 750px;
  margin-top: 200px;
}

.onesixsixzero image {
  display: block;
  width: 80%;
  height: auto;
}

.onesixsixzero:hover .overlay {
  opacity: 1;
}

.period6 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:70px;
margin-top:-200px;
}

.tperiod6{
color:white;
font-size:25px;
text-align: left;
margin-left:60px;
margin-top:50px;
text-align:left;
}

.onesevensixtwo{
  position: relative;
  position: right;
  width: 45%;
  margin-left: 50px;
 margin-top: 120px;
}

.onesevensixtwo image {
  display: block;
  width: 80%;
  height: auto;
}

.onesevensixtwo:hover .overlay {
  opacity: 1;
}

.period7 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:630px;
margin-top:-300px;
}

.tperiod7{
color:white;
font-size:25px;
text-align:left;
margin-left:630px;
margin-top:35px;
text-align:justify;
}

.oneeightfourzero{
  position: relative;
  position: right;
  width: 40%;
  margin-left: 890px;
  margin-top: 100px;
}

.oneeightfourzero image {
  display: block;
  width: 80%;
  height: auto;
}

.oneeightfourzero:hover .overlay {
  opacity: 1;
}

.period8 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:70px;
margin-top:-250px;
}

.tperiod8{
color:white;
font-size:25px;
text-align: left;
margin-left:60px;
margin-top:50px;
text-align:justify;
}

.oneeightfivefive{
  position: relative;
  position: right;
  width: 45%;
  margin-left: 50px;
 margin-top: 200px;
}

.oneeightfivefive image {
  display: block;
  width: 80%;
  height: auto;
}

.oneeightfivefive:hover .overlay {
  opacity: 1;
}

.period9 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:630px;
margin-top:-200px;
}

.tperiod9{
color:white;
font-size:25px;
text-align:left;
margin-left:630px;
margin-top:35px;
text-align:justify;
}

.oneeightnineseven{
  position: relative;
  position: right;
  width: 45%;
  margin-left: 820px;
  margin-top: 150px;
}

.oneeightnineseven image {
  display: block;
  width: 80%;
  height: auto;
}

.oneeightnineseven:hover .overlay {
  opacity: 1;
}

.period10 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:70px;
margin-top:-210px;
}

.tperiod10{
color:white;
font-size:25px;
text-align: left;
margin-left:60px;
margin-top:50px;
text-align:justify;
}

.oneeightnineeight{
  position: relative;
  position: right;
  width: 45%;
  margin-left: 50px;
 margin-top: 190px;
}

.oneeightnineeight image {
  display: block;
  width: 80%;
  height: auto;
}

.oneeightnineeight:hover .overlay {
  opacity: 1;
}

.period11 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:630px;
margin-top:-230px;
}

.tperiod11{
color:white;
font-size:25px;
text-align:left;
margin-left:630px;
margin-top:35px;
text-align:justify;
}

.oneeightninenine{
  position: relative;
  position: right;
  width: 35%;
  margin-left: 850px;
  margin-top: 150px;
}

.oneeightninenine image {
  display: block;
  width: 80%;
  height: auto;
}

.oneeightninenine:hover .overlay {
  opacity: 1;
}

.period12 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:70px;
margin-top:-300px;
}

.tperiod12{
color:white;
font-size:25px;
text-align: left;
margin-left:60px;
margin-top:50px;
text-align:justify;
}

.aoneeightninenine{
  position: relative;
  position: right;
  width: 45%;
  margin-left: 50px;
 margin-top: 100px;
}

.aoneeightninenine image {
  display: block;
  width: 80%;
  height: auto;
}

.aoneeightninenine:hover .overlay {
  opacity: 1;
}

.period13 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:630px;
margin-top:-320px;
}

.tperiod13{
color:white;
font-size:25px;
text-align:left;
margin-left:630px;
margin-top:35px;
text-align:justify;
}

.enoneeightninenine{
  position: relative;
  position: right;
  width: 35%;
  margin-left: 850px;
  margin-top: 150px;
}

.enoneeightninenine image {
  display: block;
  width: 80%;
  height: auto;
}

.enoneeightninenine:hover .overlay {
  opacity: 1;
}

.period14 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:70px;
margin-top:-300px;
}

.tperiod14{
color:white;
font-size:25px;
text-align: left;
margin-left:60px;
margin-top:50px;
text-align:justify;
}

.twononeeightninenine{
  position: relative;
  position: right;
  width: 45%;
  margin-left: 50px;
 margin-top: 100px;
}

.twononeeightninenine image {
  display: block;
  width: 80%;
  height: auto;
}

.twononeeightninenine:hover .overlay {
  opacity: 1;
}

.period15 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:630px;
margin-top:-250px;
}

.tperiod15{
color:white;
font-size:25px;
text-align:left;
margin-left:630px;
margin-top:35px;
text-align:justify;
}

.oneninezeroone{
  position: relative;
  position: right;
  width: 35%;
  margin-left: 850px;
  margin-top: 150px;
}

.oneninezeroone image {
  display: block;
  width: 80%;
  height: auto;
}

.oneninezeroone:hover .overlay {
  opacity: 1;
}

.period16 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:70px;
margin-top:-300px;
}

.tperiod16{
color:white;
font-size:25px;
text-align: left;
margin-left:60px;
margin-top:50px;
text-align:justify;
}

.oneninezerotwo{
  position: relative;
  position: right;
  width: 47%;
  margin-left: 30px;
 margin-top: 250px;
}

.oneninezerotwo image {
  display: block;
  width: 50%;
  height: auto;
}

.oneninezerotwo:hover .overlay {
  opacity: 1;
}

.period17 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:630px;
margin-top:-200px;
}

.tperiod17{
color:white;
font-size:25px;
text-align:left;
margin-left:630px;
margin-top:35px;
text-align:justify;
}


.onenineonenine{
  position: relative;
  position: right;
  width: 35%;
  margin-left: 850px;
  margin-top: 150px;
}

.onenineonenine image {
  display: block;
  width: 80%;
  height: auto;
}

.onenineonenine:hover .overlay {
  opacity: 1;
}

.period18 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:70px;
margin-top:-200px;
}

.tperiod18{
color:white;
font-size:25px;
text-align: left;
margin-left:60px;
margin-top:50px;
text-align:justify;
}

.oneninefourone{
  position: relative;
  position: right;
  width: 40%;
  margin-left: 50px;
 margin-top: 250px;
}

.oneninefourone image {
  display: block;
  width: 80%;
  height: auto;
}

.oneninefourone:hover .overlay {
  opacity: 1;
}

.period19 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:630px;
margin-top:-300px;
}

.tperiod19{
color:white;
font-size:25px;
text-align:left;
margin-left:630px;
margin-top:35px;
text-align:justify;
}

.oneninefourtwo{
  position: relative;
  position: right;
  width: 35%;
  margin-left: 850px;
  margin-top: 200px;
}

.oneninefourtwo image {
  display: block;
  width: 80%;
  height: auto;
}

.oneninefourtwo:hover .overlay {
  opacity: 1;
}

.period20 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:70px;
margin-top:-300px;
}

.tperiod20{
color:white;
font-size:25px;
text-align: left;
margin-left:60px;
margin-top:50px;
text-align:justify;
}

.oneninefourfivee{
  position: relative;
  position: right;
  width: 47%;
  margin-left: 50px;
 margin-top: 150px;
}

.oneninefourfivee image {
  display: block;
  width: 80%;
  height: auto;
}

.oneninefourfivee:hover .overlay {
  opacity: 1;
}

.period21 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:630px;
margin-top:-250px;
}

.tperiod21{
color:white;
font-size:25px;
text-align:left;
margin-left:630px;
margin-top:35px;
text-align:justify;
}

.period22 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:60px;
margin-top:-50px;
}

.tperiod22{
color:white;
font-size:25px;
text-align:left;
margin-left:60px;
margin-top:35px;
text-align:justify;
}

.period23 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:60px;
margin-top:-50px;
}

.tperiod23{
color:white;
font-size:25px;
text-align:left;
margin-left:60px;
margin-top:35px;
text-align:justify;
}

.oneninefoursix{
  position: relative;
  position: right;
  width: 25%;
  margin-left: 850px;
  margin-top: 150px;
}

.oneninefoursix image {
  display: block;
  width: 80%;
  height: auto;
}

.oneninefoursix:hover .overlay {
  opacity: 1;
}

.period24 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:70px;
margin-top:-300px;
}

.tperiod24{
color:white;
font-size:25px;
text-align: left;
margin-left:60px;
margin-top:50px;
text-align:justify;
}

.oneninefivethree{
  position: relative;
  position: right;
  width: 47%;
  margin-left: 50px;
 margin-top: 280px;
}

.oneninefivethree image {
  display: block;
  width: 80%;
  height: auto;
}

.oneninefivethree:hover .overlay {
  opacity: 1;
}

.period25 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:630px;
margin-top:-250px;
}

.tperiod25{
color:white;
font-size:25px;
text-align:left;
margin-left:630px;
margin-top:35px;
text-align:justify;
}

.onenineninetwoo{
  position: relative;
  position: right;
  width: 45%;
  margin-left: 800px;
  margin-top: 100px;
}

.onenineninetwoo image {
  display: block;
  width: 80%;
  height: auto;
}

.onenineninetwoo:hover .overlay {
  opacity: 1;
}

.period26 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:70px;
margin-top:-250px;
}

.tperiod26{
color:white;
font-size:25px;
text-align: left;
margin-left:60px;
margin-top:50px;
text-align:justify;
}

.oneninenineeightt{
  position: relative;
  position: right;
  width: 47%;
  margin-left: 50px;
 margin-top: 80px;
}

.oneninenineeightt image {
  display: block;
  width: 80%;
  height: auto;
}

.oneninenineeightt:hover .overlay {
  opacity: 1;
}

.period27 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:630px;
margin-top:-250px;
}

.tperiod27{
color:white;
font-size:25px;
text-align:left;
margin-left:630px;
margin-top:35px;
text-align:justify;
}

.oneninenineninee{
  position: relative;
  position: right;
  width: 45%;
  margin-left: 800px;
  margin-top: 100px;
}

.oneninenineninee image {
  display: block;
  width: 80%;
  height: auto;
}

.oneninenineninee:hover .overlay {
  opacity: 1;
}

.period28 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:70px;
margin-top:-300px;
}

.tperiod28{
color:white;
font-size:25px;
text-align: left;
margin-left:60px;
margin-top:50px;
text-align:justify;
}

.twozerozeroseven{
  position: relative;
  position: right;
  width: 40%;
  margin-left: 50px;
 margin-top: 200px;
}

.twozerozeroseven image {
  display: block;
  width: 80%;
  height: auto;
}

.twozerozeroseven:hover .overlay {
  opacity: 1;
}

.period29 h3{
color:white;
font-size:30px;
text-align:left;
margin-left:630px;
margin-top:-650px;
}

.tperiod29{
color:white;
font-size:25px;
text-align:left;
margin-left:630px;
margin-top:35px;
text-align:justify;
}

.oneninenineeighttt{
  position: relative;
  position: right;
  width: 40%;
  margin-left: 800px;
  margin-top: 200px;
}

.oneninenineeighttt image {
  display: block;
  width: 80%;
  height: auto;
}

.oneninenineeighttt:hover .overlay {
  opacity: 1;
}

.period30 h3{
color:white;
font-size:30px;
text-align:left;
margin-left: 630px;
margin-top:-450px;
}

.tperiod30{
color:white;
font-size:25px;
text-align: left;
margin-left:60px;
margin-top:50px;
text-align:justify;
}

.dishes{
font-size: 100px;
margin-top: 400px;
text-align: center;
color: white;
}

.paragraph2{
font-size: 40px;
text-align: center;
color: white;
}


.lechonbagoong{
  position: relative;
  position: right;
  width: 40%;
  margin-left: 50px;
 margin-top: 250px;
}

.lechonbagoong image {
  display: block;
  width: 80%;
  height: auto;
}

.lechonbagoong:hover .overlay {
  opacity: 1;
}

.period31 h3{
color:white;
font-size:30px;
text-align:left;
margin-left: 630px;
margin-top:-300px;
}

.tperiod31{
color:white;
font-size:25px;
text-align:left;
margin-left:630px;
margin-top:35px;
}

.puto{
  position: relative;
  position: right;
  width: 45%;
  margin-left: 800px;
  margin-top: 150px;
}

.puto image {
  display: block;
  width: 80%;
  height: auto;
}

.puto:hover .overlay {
  opacity: 1;
}

.period32 h3{
color:white;
font-size:30px;
text-align:left;
margin-left: 100px;
margin-top:-350px;
}

.tperiod32{
color:white;
font-size:25px;
text-align: left;
margin-left:60px;
margin-top:50px;
text-align:justify;
}

.tapa{
  position: relative;
  position: right;
  width: 40%;
  margin-left: 50px;
 margin-top: 150px;
}

.tapa image {
  display: block;
  width: 80%;
  height: auto;
}

.tapa:hover .overlay {
  opacity: 1;
}

.period33 h3{
color:white;
font-size:30px;
text-align:left;
margin-left: 630px;
margin-top:-300px;
}

.tperiod33{
color:white;
font-size:25px;
text-align:left;
margin-left:630px;
margin-top:35px;
}

.corn{
  position: relative;
  position: right;
  width: 40%;
  margin-left: 800px;
  margin-top: 150px;
}

.corn image {
  display: block;
  width: 80%;
  height: auto;
}

.corn:hover .overlay {
  opacity: 1;
}

.period34 h3{
color:white;
font-size:30px;
text-align:left;
margin-left: 100px;
margin-top:-330px;
}

.tperiod34{
color:white;
font-size:25px;
text-align: left;
margin-left:60px;
margin-top:50px;
text-align:justify;
}

.longganisa{
  position: relative;
  position: right;
  width: 40%;
  margin-left: 50px;
 margin-top: 150px;
}

.longganisa image {
  display: block;
  width: 80%;
  height: auto;
}

.longganisa:hover .overlay {
  opacity: 1;
}

.period35 h3{
color:white;
font-size:30px;
text-align:left;
margin-left: 630px;
margin-top:-320px;
}

.tperiod35{
color:white;
font-size:25px;
text-align:left;
margin-left:630px;
margin-top:35px;
}

.pigar{
  position: relative;
  position: right;
  width: 40%;
  margin-left: 800px;
  margin-top: 150px;
}

.pigar image {
  display: block;
  width: 80%;
  height: auto;
}

.pigar:hover .overlay {
  opacity: 1;
}

.period36 h3{
color:white;
font-size:30px;
text-align:left;
margin-left: 100px;
margin-top:-320px;
}

.tperiod36{
color:white;
font-size:25px;
text-align: left;
margin-left:60px;
margin-top:50px;
text-align:justify;
}
